{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import "_macros.html" as macros %}

{% block app_content %}
    <h1>Add a Currency</h1>
    <div class="row">
        <div class="col-md-6">
            {% if current_user.can(Permission.WRITE) %}
                {{ wtf.quick_form(form) }}
            {% endif %}
        </div>
        <div class="col-md-6">
            <div class="pagination">
                {% for currency in currencies %}
                    {% include 'settings/_currency.html' %}
                {% endfor %}
            {{ macros.pagination_widget(pagination, 'currencies.add_currency') }}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script>
      $(function() {
        $('#default_curr').bootstrapToggle({
          on: 'Default',
          off: 'Secondary'
        });
      })
    </script>
{% endblock %}