<table class="table table-hover">
    <tr>
        <td>
            <div class="row">
                <div class="col-md-6">
                    <u>Date:</u> {{ moment(expense.date).format('LL') }}<br>
                    <u>Expense:</u> {{ expense.name }}<br>
                    {% autoescape false %}
                    <u>Location:</u> {{ expense.location | replace("\n", "<br/>") }}<br>
                    {% endautoescape %}
                    <u>Category:</u> {{ expense.category_expense.name }}<br>
                    <u>Category Type:</u> {{ expense.category_type_expense.name }}<br>
                    <u>Amount:</u> <span style="color: brown;">{{ expense.amount }} {{ expense.currency_expense.name }}</span><br>
                </div>
                <div class="col-md-6">
                    <u>Guest:</u> {{ expense.guest }}<br>
                    {% autoescape false %}
                    <u>Guest list:</u> {{ expense.guest_list | replace("\n", "<br/>") }}<br>
                    {% endautoescape %}
                    <u>Scan:</u> {{ expense.icon }}<br>
                    <u>Client:</u> <a href="{{ url_for('clients.edit_client', id=expense.client_expense.id) }}">{{ expense.client_expense.name }}</a><br>
                    <u>Project:</u> <a href="{{ url_for('projects.edit_project', id=expense.project_expense.id) }}">{{ expense.project_expense.name }}</a><br>
                </div>
            </div>
            <div class="row">
                {% if current_user.is_administrator %}
                <div class="btn btn-group">
                    <a class="btn btn-primary" href="{{ url_for('expenses.edit_expense', id=expense.id) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <form method="post" action="{{ url_for('expenses.delete_expense', id=expense.id) }}"><button type="submit" class="btn btn-warning"><span class="glyphicon glyphicon-trash"></span></button></form>
                </div>
                {% endif %}
            </div>
        </td>
    </tr>
</table>