{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import "_macros.html" as macros %}

{% block app_content %}
    <h1>Add an Expense</h1>
    <div class="row">
        <div class="col-md-6">
            {% if current_user.can(Permission.WRITE) %}
                {{ wtf.quick_form(form) }}
            {% endif %}
        </div>
        <div class="col-md-6">
            <div class="pagination">
                {% for expense in expenses %}
                    {% include 'expenses/_expense.html' %}
                {% endfor %}
            {{ macros.pagination_widget(pagination, 'expenses.add_expense') }}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {# Script to manage the Guest toggle button #}
    <script>
      $(function() {
        $('#guest').bootstrapToggle({
          on: 'Yes',
          off: 'No'
        });
      })
    </script>

    <script type="text/javascript">
            $(function () {
                $('#date_picker').datetimepicker({
            format: 'DD/MM/YYYY'
        });
            });
    </script>

    {# Script to manage the drop down select fields and links between them #}
    <script charset="utf-8" type="text/javascript">

        $(function() {

        // jQuery selection for the select boxes
        var dropdown = {
            client_id: $('#select_client'),
            project_id: $('#select_project'),
            category_id: $('#select_category'),
            category_type_id: $('#select_category_type')
        };

        // call to update on load
        updateProjects_id();
        updateCategory_types_id();

        // function to call XHR and update project drop down
        function updateProjects_id() {
            var send = {
                client_id: dropdown.client_id.val()
            };
            dropdown.project_id.attr('disabled', 'disabled');
            dropdown.project_id.empty();
            $.getJSON("{{ url_for('expenses._get_projects') }}", send, function(data) {
                data.forEach(function(item) {
                    dropdown.project_id.append(
                        $('<option>', {
                            value: item[0],
                            text: item[1]
                        })
                    );
                });
                dropdown.project_id.removeAttr('disabled');
            });
        }
        // function to call XHR and update category_type drop down
        function updateCategory_types_id() {
            var send = {
                category_id: dropdown.category_id.val()
            };
            dropdown.category_type_id.attr('disabled', 'disabled');
            dropdown.category_type_id.empty();
            $.getJSON("{{ url_for('expenses._get_categories') }}", send, function(data) {
                data.forEach(function(item) {
                    dropdown.category_type_id.append(
                        $('<option>', {
                            value: item[0],
                            text: item[1]
                        })
                    );
                });
                dropdown.category_type_id.removeAttr('disabled');
            });
        }

        // event listener to client drop down change
        dropdown.client_id.on('change', function() {
            updateProjects_id();
        });
        // event listener to category drop down change
        dropdown.category_id.on('change', function() {
            updateCategory_types_id();
        });

    });

    </script>
{% endblock %}