{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import "_macros.html" as macros %}

{% block app_content %}
    <h1>Edit a Task</h1>
    <div class="row">
        <div class="col-md-6">
            {% if current_user.can(Permission.WRITE) %}
            {{ wtf.quick_form(form) }}
            {% endif %}
        </div>
        <div class="col-md-6">
            <div class="pagination">
                {% for task in tasks %}
                    {% include 'tasks/_task.html' %}
                {% endfor %}
            {{ macros.pagination_widget(pagination, 'tasks.edit_task', id=id) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
            $(function () {
                $('#date_picker').datetimepicker({
            format: 'DD/MM/YYYY'
        });
            });
    </script>

    <script charset="utf-8" type="text/javascript">

        $(function() {

        // jQuery selection for the 2 select boxes
        var dropdown = {
            client_id: $('#select_client'),
            project_id: $('#select_project')
        };

        // call to update on load
        updateProjects_id();

        // function to call XHR and update project drop down
        function updateProjects_id() {
            var send = {
                client_id: dropdown.client_id.val()
            };
            dropdown.project_id.attr('disabled', 'disabled');
            dropdown.project_id.empty();
            $.getJSON("{{ url_for('tasks._get_projects') }}", send, function(data) {
                data.forEach(function(item) {
                    dropdown.project_id.append(
                        $('<option>', {
                            value: item[0],
                            text: item[1]
                        })
                    );
                });
                dropdown.project_id.removeAttr('disabled');
            });
        }

        // event listener to client drop down change
        dropdown.client_id.on('change', function() {
            updateProjects_id();
        });

    });

    </script>
{% endblock %}